* {
    padding: 0;
    margin: 0;
    border: 0;
}
.web_page_content_attributes {
    display: block;
    width: 1000px; /* final max_width should be 1650px */
    margin: auto;
    height: auto:
}
@media (max-width: 1000px) { /* final max-width should be 1650px */
    .web_page_content_attributes {
        width: 100%;
    }
}
.controls {
  /* width: 100%;
   height: 8.0971659919028340080971659919028%;
   position: relative; */
    color: yellow;
    background-color: red;
}
.bottom_header {
    height: 120px;
    background-color: #FF6600;
    color: black;
  /*border: 2px solid black;*/
}
.border {
     /*border: 2px solid black; */
    padding: 0;
    
}
.video_and_lower_header_container {
    position: relative;
}
.overlaid_text {
    float: left;
    position: absolute;
    left: 20px;
    top: 50px;
    z-index: 1000;
    background-color: #92AD40;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
}