.web_page_content_attributes {
    display: block;
    width: 1000px; /* final max_width should be 1650px */
    margin: auto;
}
@media (max-width: 1000px) { /* final max-width should be 1650px */
    .web_page_content_attributes {
        width: 100%;
    }
}
body {
    padding: 0;
    margin: 0;
}
.controls {
   width: 100%;
   height: 8.0971659919028340080971659919028%; /* of figure's height */
   position: relative;
}