* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-color: black;
}

/* ----------------------- */
/* fade in body element */
.fade-in-body {
  animation: fadeInBody ease-in 4s;
  -webkit-animation: fadeInBody ease-in 4s;
  -moz-animation: fadeInBody ease-in 4s;
  -o-animation: fadeInBody ease-in 4s;
  -ms-animation: fadeInBody ease-in 4s;
}

@keyframes fadeInBody {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}  

@-moz-keyframes fadeInBody {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeInBody {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeInBody {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeInBody {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* ----------------------- */
#content-wrapper {
    position: relative;
}
.content-attribs {
    display: block;
    width: 1650px;  /*final max_widht should be 1650px */
    margin: auto;
    height: auto; 
}

.border {
    border: 2px solid black;
    padding: 0;
}

/*** default: xs - extra small devices, ie. mobile phones (for screens less than 768px wide) ***/
/*** sm - small devices, such as tablets (for screen width between 768 and 991px) ***/
@media (min-width: 768px) and (max-width: 991px) {
}

/*** md - medium devices, ie. small laptops (for screen width between 992 and 1199px) ***/
@media (min-width: 992px) and (max-width: 1199px) {
}

/*** lg - Large devices, ie. laptops and desktops (for screens equal to or greater than 1200px wide) ***/
@media (min-width: 1200px) {
	 
}

/* Large screen	desktop	content	should extend no wider than 1650px.
 * After this point the	content	column should be centred on a white background. */
@media (max-width: 1650px) { 
    .content-attribs {
        width: 100%
    }
}

#poster-img {
    position: absolute;
}

/* ----------------------- */
#animated-txt {
    width: 100%;
    position: absolute; 
    top: 100px;
    left: 30px; 
    width: 100%;
    font-size: 30px;
    opacity: 0;

    transform: scale(1, 1);
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  /*   animation-duration: 5s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);  */
}   

.fade-in-txt {
    -webkit-animation-name: fadeInTxt;
    animation-name: fadeInTxt;
}

@-webkit-keyframes fadeInTxt {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {transform: scale(0.1);}
    100% {transform: scale(1);}
}
			          
@keyframes fadeInTxt {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {transform: scale(0.1);}
    100% {transform: scale(1);}
}

@-moz-keyframes fadeInTxt {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {transform: scale(0.1);}
    100% {transform: scale(1);}
}

@-webkit-keyframes fadeInTxt {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {transform: scale(0.1);}
    100% {transform: scale(1);}
}

@-o-keyframes fadeInTxt {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {transform: scale(0.1);}
    100% {transform: scale(1);}
}

@-ms-keyframes fadeInTxt {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {transform: scale(0.1);}
    100% {transform: scale(1);}
}

/* ----------------------- */
#animated-img-2 {
}

.img2-content-attribs {
    visibility: hidden;
    position: absolute;
    /*top: 150px;
    left: 300px;*/
    margin-top: 15%;
    margin-left: 40%;
    width: 50%;
    z-index: 10;
}

.fade-in-img2 {
  visibility: visible;
  position: absolute;
  animation: fadeInImg2 ease-in 4s;
  -webkit-animation: fadeInImg2 ease-in 4s;
  -moz-animation: fadeInImg2 ease-in 4s;
  -o-animation: fadeInImg2 ease-in 4s;
  -ms-animation: fadeInImg2 ease-in 4s;
}

@keyframes fadeInImg2 {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}  

@-moz-keyframes fadeInImg2 {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeInImg2 {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeInImg2 {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeInImg2 {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* ----------------------- */
#animated-video {
    visibility: hidden;
    position: absolute;
    z-index: 100;
}

.fade-in-video {
  animation: fadeInVideo ease-in 4s;
  -webkit-animation: fadeInVideo ease-in 4s;
  -moz-animation: fadeInVideo ease-in 4s;
  -o-animation: fadeInVideo ease-in 4s;
  -ms-animation: fadeInVideo ease-in 4s;
}

@keyframes fadeInVideo {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}  

@-moz-keyframes fadeInVideo {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeInVideo {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeInVideo {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeInVideo {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


